<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/utils.css" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Blog-Coding Voding</title>
  </head>
  <body>
    <div class="navigation max-width-1 m-auto">
      <div class="nav-left">
        <span>CodingVoding</span>
      <ul>
        <li><a href="/"></a>Home</li>
        <li><a href="#">About</a></li>
        <li><a href="contact.html"></a>Contact</li>
      </ul>
    </div>
    <div class="nav-right">
        <input
          class="form-input"
          type="text"
          placeholder="Article search"
        />
        <button class="btn">Search</button>
      </div>
    </div>
    <div class="content max-width-1 m-auto">
        <div class="content-left">
            <h1>The heaven for coders</h1>
            <p>CodingVoding gives you blogs and tutorials to master your programming skills</p>
        </div>
        <div class="content-right">
            <img src="img/home.jpg" alt="CodingVoding">
        </div>
    </div>
    <!-- <br><br> -->
    <div class="max-width-1 m-auto"><hr></div>
    <div class="home-articles max-width-1 m-auto font1">
        <h2>Featured Articles</h2>
        <div class="home-article">
            <div class="home-article-img">
                <img src="img/Java.jpg" alt="">
            </div>
            <h3>Object Oriented Programming in Java</h3>
            <p>There are certain basic features of object-oriented programming. 
                Here you will learn those features along with their practical implementation in Java Programming language.
            </p>
        </div>
    </div>
    <div class="footer max-width-2 m-auto">
        <p>Copyrights &copy; CodingVoding.net</p>
        <table>
        <td><a href="https://www.vecteezy.com/free-vector/computer-coding">1</a></td>
        <td><a href="https://www.vecteezy.com/free-vector/java-programming">2</a></td>
        <td><a href="https://www.vecteezy.com/free-vector/web-development">3</a></td>
        <td><p>Vectors by Vecteezy</p></td>
    </table>
    </div>
  </body>
</html>
