<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Best online Pakistan's food delivery</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <nav id="navbar">
      <div id="logo">
        <img src="./img/FD logo.png" alt="OnlineFoodDelivery.com" />
      </div>
      <ul>
        <li class="item"><a href="#">Home</a></li>
        <li class="item"><a href="#services-container">Services</a></li>
        <li class="item"><a href="#Deals">Deals</a></li>
        <li class="item"><a href="#About Us">About Us</a></li>
        <li class="item"><a href="#Contact Us">Contact Us</a></li>
      </ul>
    </nav>
    <section id="home">
      <h1 class="h-primary">Welcome to our online Meal delivery</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, quae.
      </p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <button class="btn">Order Now</button>
    </section>
    <section id="services-container">
      <h1 class="h-primary center">Our Services</h1>
      <div id="services">
        <div class="box">
          <img src="./img/cheeseburger.jpg" alt="fast food" />
          <h2 class="h-secondary center">Food Ordering</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
            nobis iste rerum, atque culpa maiores. Explicabo accusantium sunt id
            nisi accusamus quae sapiente placeat!
          </p>
        </div>
      </div>
    </section>
    <section id="Deals">Deals</section>
    <section id="About Us"></section>
    <section id="Contact Us"></section>
  </body>
</html>
